body{
    background-color: #000;
    overflow: auto;
}
.img-sobre{
  text-align:center;
}

button:hover,form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.772);
  transform: scale(1.05);
}
.btn-contato button{
  padding:10px 40px;
  font-size:18px;
  font-weight: 600;
  background-color: red;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
  margin-top: 40px;
}
.btn-contato{
  text-align:center;
  justify-content: center;
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  100%{
    top: 30px;
  }
}